<ion-view title="{{category.categoryTitle}}">

	<div class="advert">
		<img src="img/logo.svg" alt="Iedereen West-Vlaams" />
	</div>

	<ion-content class="has-header has-footer has-advert">
	    <ion-list>
		    <ion-item class="item item-icon-right" ng-repeat="sound in sounds" ng-click="playSound(sound)" ng-class="sound.isFavorite ? 'favorite' : ''">
		       {{::sound.soundTitle}} <i ng-click="toggleFavorite(sound)" ng-class="sound.isFavorite ? 'icon icon-heart-full' : 'icon icon-beste'"></i>
		    </ion-item>
		</ion-list>
	</ion-content>
</ion-view>
