<ion-view title="Question">

	<div class="advert">
		<img src="img/logo.svg" alt="Iedereen West-Vlaams" />
	</div>

	<ion-content class="has-header has-footer has-advert content content-quiz">
		<ion-slide-box delegate-handle="question-slider" ng-init="disableSwipe(); playFirst();" show-pager="false">
			<ion-slide class="question" ng-repeat="question in quiz">
				<p class="question-count">{{::$index+1}}/10</p>

				<div ng-if="correct == 'sound'" ng-click="playSound(sound)" ng-disabled="soundPlaying" ng-class="soundPlaying ? 'disabled' : ''" class="question-sound"><i class="icon-play"></i></div>
				<div ng-if="correct == true" class="question-correct"><i class="icon-correct"></i></div>
				<div ng-if="correct == false"  class="question-wrong"><i class="icon-wrong"></i></div>

			    <button ng-repeat="answer in question.answers" ng-disabled="slidingToNext" ng-class="slidingToNext ? 'disabled' : ''" href="#" ng-click="answerQuestion(answer)" class="button button-block">{{::answer.answer}}</button>
			</ion-slide>

			<ion-slide class="result">
				<h4>{{scoreTitle}}!</h4>
				<h4>{{scoreSenctence}} <strong>{{score*10}}%</strong> West-Vlaming!</h4>

				<p>Probeer het nog eens opnieuw of deel je score met je vrienden op facebook</p>

				<button href="#" ng-click="restart()" class="button button-block">Nog e ki speeln!</button>
				<button href="#" ng-click="share()" class="button button-block button-facebook">Deel met je vrienden!</button>
			</ion-slide>
		</ion-slide-box>

		<p ng-show="phase != 'result'" class="quiz-score">Uw score: {{score}}/10</p>
	</ion-content>
</ion-view>
