<ion-view>

  <div class="advert">
    <img src="img/logo.svg" alt="Iedereen West-Vlaams" />
  </div>

  <ion-content class="has-advert has-header has-footer content content-photo" id="content-photo" scroll="false">

    <strong ng-if="debug">MODE: {{'' + mode}}</strong>

    <!-- intro text and error text (when taking a picture failed) -->
    <div ng-if="mode === CHOOSING_PHOTO">
      <!-- intro text -->
      <h1>Plaats een echte West-Vlaamse uitspraak op een foto!</h1>

      <!-- more intro text -->
      <p>Neem of kies een foto en plaats er enkele grappige stickers op.</p>

      <!-- error text -->
      <div ng-if="error && debug" class="error card">
        <div class="item item-text-wrap">
          {{error}}
        </div>
      </div>
    </div>

    <!-- the canvas where all the magic happens -->
    <!-- canvas should always be present on the page, hence the ng-show -->
    <div ng-show="lastPhoto && (mode < CHOOSING_STICKER)" id="canvas-container">
      <canvas id="canvas"></canvas>
    </div>

    <div class="controls controls-bottom">
      <!-- take photo actions -->
      <div ng-if="mode === CHOOSING_PHOTO">
        <button ng-click="takePhoto($event)" class="button button-block">Foto nemen</button>
        <button ng-click="choosePhoto($event)" class="button button-block">Foto kiezen</button>
        <button ng-if="debug || isDesktop" ng-click="placeholdPhoto($event)" style="position:absolute;margin-top:-165px;" class="button button-block">Placehold foto</button>
      </div>

      <!-- confirm photo text & actions -->
      <div ng-if="lastPhoto && mode === CONFIRMING_PHOTO">
        <div class="info">
          <p>
            Schaal deze foto indien nodig.
          </p>
        </div>
        <button ng-click="useCurrentPhoto($event)" class="button button-block">Gebruik deze foto</button>
      </div>

      <!-- edit photo actions -->
      <div ng-if="lastPhoto && mode === VIEWING_PHOTO">

        <!-- the 'add a sticker' button -->
        <button href="#" ng-if="!hasStickers()" ng-click="chooseSticker($event);" class="button button-block button-red">
            <i class="icon-add"></i>&nbsp;Voeg een sticker toe
        </button>

        <!-- these sticker manipulation controls will only be shown when a sticker has been selected -->
        <div ng-if="hasStickers()" class="clearfix">
          <div class="pull-left">
            <button ng-click="chooseSticker($event);" class="button-red button-icon">
              <i class="icon icon-add-circle"></i>
            </button>
          </div>
          <div class="pull-right">
            <button ng-click="removeSticker($event)" class="button-icon" ng-disabled="!activeSticker">
              <i class="icon icon-trash-circle"></i>
            </button>
            <button ng-click="rotateStickerHorizontally($event)" class="button-icon" ng-disabled="!activeSticker">
              <i class="icon icon-mirror-vert-circle"></i>
            </button>
            <button ng-click="rotateStickerVertically($event)" class="button-icon" ng-disabled="!activeSticker">
              <i class="icon icon-mirror-hor-circle"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- finish (move to share mode) -->
      <div ng-if="lastPhoto && (mode === VIEWING_PHOTO) && hasStickers()">
        <button ng-click="finish($event)" class="button button-block">Klaar</button>
      </div>
    </div>

    <!-- choose stickers -->
    <div class="choose-sticker" ng-if="mode === CHOOSING_STICKER">
      <stickers-list></stickers-list>
    </div>

    <!-- share photo page. -->
    <div class="share-photo" ng-if="mode === SHARING_PHOTO">

      <!-- save success message. this message will only be shown when the photo was actually saved -->
      <!-- we will toggle the invisible class so some space will already have been reserved at the time the image got saved -->
      <div class="info">
        <p ng-class="{invisible: !shareImageLocations.local.success}">Je foto werd opgeslagen!</p>
      </div>

      <!-- the picture, again, in base64 -->
      <div>
        <img ng-src="{{shareImage}}" alt="Joen eigen foto">
      </div>

      <!-- share cta -->
      <h1>Deel je foto met je vrienden!</h1>
      <button class="button button-block" ng-show="!!shareImage" ng-click="doShareImage($event)">Deel met je vrienden</button>
      <div class="info">of <a href="#" ng-click="resetState($event)">maak nog een foto</a></div>
    </div>

  </ion-content>
</ion-view>
